<h1>Stripe</h1>
  <form id="payment-form">
    <input type="text" id="card-holder-name" placeholder="Nombre del titular de la tarjeta">
    <div id="card-element">
      <!-- Elemento de tarjeta de Stripe -->
    </div>
    <button type="submit">Pagar</button>
  </form>


<script src="js/payment.js"></script>